<%= render "pages/navbar"%>
<div class="container">
  <h1 class="animate-charcter">My Pending Requests</h1>
  <div class="row">
    <div class="col">
      <% unless @bookings.nil? %>
        <% @bookings.each do |booking| %>
          <%= link_to booking_path(booking, query_type: "user"), class:"text-decoration-none" do %>
            <div class="booking-card">
              <p>Game: <%= booking.game.name %></p>
              <p>Status: <%= booking.status %></p>
              <div class="game-card-signature">
                <p style="text-align:center">Price: <%= booking.game.price %>€</p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "pages/footer"%>
