<%= render "pages/navbar"%>
<% if @query_type == "user" %>
  <div class="container">
    <h1>Pending Request Details</h1>
    <%= link_to "Back to My Pending Requests", pending_booking_bookings_path, class: "btn btn-ghost" %>
    <div class="row">
      <div class="column">
        <div class="booking-card">
          <p>Game: <%= @booking.game.name %></p>
          <p>category: <%= @booking.game.game_type %></p>
          <p>Price: <%= @booking.game.price %>€</p>
          <br>
          <p><%= @booking.user.username %> le <%= @booking.created_at.strftime("%d/%m/%Y %H:%M") %></p>
          <p>Message: <%= @booking.message %></p>
        </div>
        <% if @booking.status == "pending" %>
          <%= link_to "Cancel", cancel_booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"}, class: "btn btn-ghost" %>
        <% elsif @booking.status == "ongoing" %>
          <%= link_to "End booking", review_booking_path(@booking), data: {turbo_confirm: "End this booking?"}, class: "btn btn-ghost" %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    <% if @game_marker.present? %>
      data-map-markers-value="<%= [@game_marker].to_json %>"
    <% else %>
      data-map-markers-value="[]"
    <% end %>
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>

<% if @query_type == "owner" %>
  <div class="container">
    <h1>Pending Client Details</h1>
    <%= link_to "Back to My Pending Clients", pending_client_bookings_path, class: "btn btn-ghost" %>
    <div class="row">
      <div class="column">
        <div class="booking-card">
          <p>Game: <%= @booking.game.name %></p>
          <p>category: <%= @booking.game.game_type %></p>
          <p>Status: <%= @booking.status %></p>
          <% if @booking.status == "ongoing" || @booking.status == "done" %>
            <p>date d'emprunt: <%= @booking.date_begin %></p>
          <% end %>
          <% if @booking.status == "done" %>
            <p>date de retour: <%= @booking.date_end %></p>
            <p>Review: <%= @booking.review %></p>
            <p>Rating: <%= @booking.rating %></p>
          <% end %>
          <br>
          <p>Demande de <%= @booking.user.username %> le <%= @booking.created_at.strftime("%d/%m/%Y %H:%M") %></p>
          <p>Message: <%= @booking.message %></p>

        </div>
        <% if @booking.status == "pending" %>
          <%= link_to "Accept", accept_booking_path(@booking), data: {turbo_method: :patch, turbo_confirm: "Accept this booking request?"}, class: "btn btn-primary py-2" %>
          <%= link_to "Decline", decline_booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Decline this booking request?"}, class: "btn btn-primary py-2" %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
<%= render "pages/footer"%>
