<% if @query_type == "user" %>
  <h1>Pending Request Details</h1>
  <%= link_to "Back to My Pending Requests", pending_booking_bookings_path, class: "btn btn-primary py-2" %>
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="booking-card">
          <p>Game: <%= @booking.game.name %> (category: "<%= @booking.game.game_type %>")</p>
          <p>@<%= @booking.game.user.username %>: <%= @booking.game.content %></p>
          <p>Price: <%= @booking.game.price %>€</p>
          <br>
          <p>@<%= @booking.user.username %>, <%= @booking.created_at %></p>
          <p>Message: <%= @booking.message %></p>
          <p>Status: <%= @booking.status %></p>
        </div>
        <%= link_to "Cancel", cancel_booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Cancel this booking?"}, class: "btn btn-primary py-2" %>
      </div>
    </div>
  </div>
  <br>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    <% if @game_marker.present? %>
      data-map-markers-value="<%= [@game_marker].to_json %>"
    <% else %>
      data-map-markers-value="[]"
    <% end %>
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>

<% if @query_type == "owner" %>
  <h1>Pending Client Details</h1>
  <%= link_to "Back to My Pending Clients", pending_client_bookings_path, class: "btn btn-primary py-2" %>
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="booking-card">
          <p>@<%= @booking.user.username %>, <%= @booking.created_at %></p>
          <p>Message: <%= @booking.message %></p>
          <p>Status: <%= @booking.status %></p>
          <br>
          <p>Game: <%= @booking.game.name %> (category: "<%= @booking.game.game_type %>")</p>
          <p>Price: <%= @booking.game.price %>€</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
