
<h1>List of Games</h1>
<%= link_to "Back to home", root_path, class: "btn btn-primary py-2" %>
<div class="container">
  <div class="row">
    <div class="col">
      <% unless @games.nil? %>
        <% @games.each do |game| %>
          <% if game.user_id != current_user.id %>
            <%= link_to game_path(game, query_type: "user"), class:"text-decoration-none" do %>
              <div class="card-product">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                  <div class="card-product-infos">
                    <div>
                      <div class="components-left">
                        <h4><%= game.name %></h4>
                        <p>Type: <%= game.game_type %></p>
                      </div>
                      <div class="italic-content">
                        <p><%= game.content.slice(0,30) %>...</p>
                      </div>
                    </div>
                    <div class="components-right">
                      <p style="font-size: 20px;"><strong><%= game.price %>€</strong></p>
                      <p>@<%= game.user.username %></p>
                    </div>
                  </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
