<h1>List of Games</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% unless @games.nil? %>
        <% @games.each do |game| %>
          <div class="game-card">
            <p>Game: <%= game.name %></p>
            <p>Type: <%= game.game_type %></p>
            <p>Description: <%= game.content %></p>
            <p>Price: <%= game.price %>€</p>
            <p>@<%= game.user.username %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
