<%= render "pages/navbar"%>
<div class="container">
  <h1 class="animate-charcter">List of Games</h1>
  <div class="row">
    <div class="col">
      <% unless @games.nil? %>
        <% @games.each do |game| %>
          <% if game.user_id != current_user.id %>
              <div class="game-card">
                <div class="game-card-img">
                  <div class="heart-icon <%= 'wishlisted' if game_in_wishlist?(game) %>" data-controller="wish">
                    <i class="fa-solid fa-heart" data-action="click->wish#toggleHeart" data-wish-target="heart" data-game-id="<%= game.id %>"></i>
                  </div>
                  <% if game.photos.any? %>
                    <%= cl_image_tag game.photos.first.key, height: 300, width: 400, crop: :fit %>
                  <% end %>
                </div>
                <%= link_to game_path(game, query_type: "user"), class:"text-decoration-none" do %>
                  <div class="game-card-infos">
                    <div class="game-card-title">
                      <h2><%= game.name %></h2>
                      <p><%= game.game_type %></p>
                    </div>
                    <div class="game-card-text">
                      <p>Description: "<%= game.content %>"</p>
                    </div>
                    <div class="game-card-signature">
                      <p><%= game.price %>€</p>
                    </div>
                  </div>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "pages/footer"%>
