<%= render "pages/navbar"%>
<div class="container">
  <h1>Create a Game</h1>
  <%= link_to "Back to My Offers", my_offers_games_path, class: "btn btn-primary py-2" %>
  <div class="row">
    <div class="col">
      <%= form_with(model: @game, url: games_path) do |form| %>
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, placeholder: "Name of the game"%>
        </div>
        <div class="field">
          <%= form.label :game_type %>
          <%= form.select :game_type, Game::GAME_TYPES %>
        </div>
        <div class="field">
          <%= form.label :content %>
          <%= form.text_area :content, placeholder: "The subject of your message" %>
        </div>
        <div class="field">
          <%= form.label :price %>
          <%= form.number_field :price, placeholder: "Your price" %>
        </div>
        <%= form.submit "Create the game offer" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "pages/footer"%>
