<div class="container">
    <div class="top">
      <i class="fa-solid fa-arrow-left"></i>
      <h2><%= @game.name %></h2>
    </div>
    <div class="game-details">
      <%# <img src="<%= user_img %>
      <div class="top-info">
        <h3 class="game-type"><%= @game.game_type %></h3>
        <h4><%= @game.user.username %></h4>
      </div>
      <p class="content"><%= @game.content %></p>
      <h3 class="price"><%= @game.price %></h3>
      <i class="fa-regular fa-heart"></i>
    </div>
    <div class="book-btn">
      <%= link_to "Book this game", "#", class: "button" %>
    </div>
    <div class="map">
      <%# inser map %>
    </div>
</div>
<h1>Game Show</h1>
<%= link_to "Book this game", new_game_booking_path(@game), class: "btn btn-primary" %>

