<h1>Game Show</h1>
<div class="container">
  <div class="top">
    <i class="fa-solid fa-arrow-left"></i>
    <h2><%= @game.name %></h2>
  </div>
  <div class="game-details">
    <div class="top-info">
      <h3 class="game-type"><%= @game.game_type %></h3>
      <h4><%= @game.user.username %></h4>
    </div>
    <p class="content"><%= @game.content %></p>
    <h3 class="price"><%= @game.price %></h3>
    <i class="fa-regular fa-heart"></i>
  </div>
</div>
<%= link_to "Book this game", new_game_booking_path(@game), class: "btn btn-primary" %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  <% if @game_marker.present? %>
    data-map-markers-value="<%= [@game_marker].to_json %>"
  <% else %>
    data-map-markers-value="[]"
  <% end %>
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
